Repository brandonorozco12623-creator/is117atpBRANDON: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

config: configure Eleventy and Lighthouse CI
  .eleventy.js
  lighthouserc.json
Due: eslint --fix, prettier --write

config: add Git ignore and environment template
  .env.example
  .gitignore
Due: none

feat: add custom 404 error page
  src/404.md
Due: prettier --write

docs: add AI assistant guide
  docs/AI-GUIDE.md
Due: prettier --write

test: verify pre-commit hooks catch markdown lint errors
  test-markdown-lint.md
Due: prettier --write

chore: remove test markdown file
  test-markdown-lint.md
Due: prettier --write

feat: complete mental health counseling website with professional design
  .stylelintrc.json
  src/_data/site.js
  src/_layouts/base.njk
  src/about.md
  src/assets/css/main.css
  src/assets/js/main.js
  src/index.md
  src/resources.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: created website
  src/_layouts/base.njk
  src/resources.md
Due: prettier --write

chore: apply Prettier formatting and update lint script
  package.json
Due: prettier --write

chore: add .gitattributes to normalize line endings
  .gitattributes
Due: none

chore: fix quality gate issues
  .eleventy.js
  package-lock.json
  package.json
  src/_data/site.js
  src/_layouts/base.njk
  src/assets/css/components.css
  src/assets/css/main.css
Due: eslint --fix, prettier --write, stylelint --fix

fix: attempting to fix js lint issue
  .eleventy.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: fixing duplicate code found
  src/assets/css/components.css
Due: prettier --write, stylelint --fix

chore: added github pages in package.json
  package.json
Due: prettier --write

Add GitHub Actions workflow for Eleventy deployment
  .github/workflows/pages.yml
Due: none

Delete .github/workflows/pages.yml
  .github/workflows/pages.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs}
  prettier --write: ((any of: *.{js,mjs,cjs}) or (any of: *.css)) or (any of: *.{html,json,md})
  stylelint --fix: any of: *.css
