Repository kaw393939/eaikw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix --config .markdownlint.yaml

.lintstagedrc.json:

{
  "*.{js,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.md": [
    "markdownlint --fix --config .markdownlint.yaml",
    "prettier --write"
  ],
  "*.{html,json}": ["prettier --write"]
}

Add Magic Words & AI Manager paradigm concepts
  docs/COURSE-CURRICULUM-15-WEEKS.md
  docs/lessons/00-foundations-ai-superpowers.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

Initial commit: Professional Eleventy portfolio site
  .eleventy.js
  .github/copilot-instructions.md
  .github/workflows/deploy.yml
  .gitignore
  .prettierrc
  README.md
  package-lock.json
  package.json
  src/_data/site.json
  src/_layouts/base.njk
  src/_layouts/post.njk
  src/_layouts/project.njk
  src/about.njk
  src/blog/index.njk
  src/blog/welcome.md
  src/css/main.css
  src/index.njk
  src/js/main.js
  src/projects/index.njk
  src/projects/portfolio-website.md
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix --config .markdownlint.yaml

Fix Eleventy v3 compatibility issues
  .eleventy.js
  .prettierrc
  README.md
  src/css/main.css
  src/js/main.js
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix --config .markdownlint.yaml

Fix static file passthrough copy configuration
  .eleventy.js
Due: eslint --fix, prettier --write

Resolve technical debt and implement improvements
  .eleventy.js
  TECHNICAL_SKILLS_RESUME.md
  package-lock.json
  package.json
  src/_data/site.json
  src/_layouts/base.njk
  src/js/main.js
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

Fix GitHub Pages asset loading with custom baseUrl filter
  .eleventy.js
  .github/workflows/deploy.yml
  TECHNICAL_SKILLS_RESUME.md
  src/_data/site.json
  src/_layouts/base.njk
  src/js/main.js
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

Add Docker support with dev and production profiles
  .dockerignore
  .eleventy.js
  .env.example
  .github/workflows/deploy.yml
  DOCKER.md
  DOCKER_QUICK_START.md
  Dockerfile
  Dockerfile.dev
  Makefile
  docker-compose.yml
  nginx.conf
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

Add Docker setup script and update README with Docker documentation
  README.md
  docker-setup.sh
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

Fix Docker setup and test both dev and production environments
  .eleventy.js
  docker-compose.yml
  package.json
Due: eslint --fix, prettier --write

Fix Lighthouse issues - achieve 100% accessibility, best practices, and SEO
  .eleventy.js
  .gitignore
  src/_layouts/base.njk
  src/css/main.css
  src/favicon.svg
Due: eslint --fix, prettier --write, stylelint --fix

Achieve 100% Lighthouse performance score
  src/_layouts/base.njk
Due: none

Clean up repository - remove unnecessary files
  .prettierrc
Due: none

Update .gitignore and add VS Code workspace settings
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier --write

docs: rewrite README with comprehensive getting started guide
  README.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

Add CNAME file for custom domain eaikw.com
  .eleventy.js
  CNAME
Due: eslint --fix, prettier --write

Fix GitHub Pages deployment: Remove PATH_PREFIX for custom domain
  .github/workflows/deploy.yml
Due: none

Add chapter navigation system to Swiss Portfolio project
  .eleventy.js
  CONTENT_INTEGRATION_SUMMARY.md
  build-alpine.js
  package-lock.json
  package.json
  src/_includes/layouts/project-chapters.njk
  src/js/chapters-nav.js
  src/projects/everydayai-community.md
  src/projects/portfolio-website.md
  src/projects/swiss-portfolio.md
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

Enhance chapter navigation with Swiss design improvements
  src/_includes/layouts/project-chapters.njk
  src/js/chapters-nav.js
Due: eslint --fix, prettier --write

feat: Add Phase 1 marketing infrastructure - social sharing & SEO
  src/_includes/components/social-share.njk
  src/_includes/layouts/base.njk
  src/_includes/layouts/post.njk
  src/_includes/layouts/project-chapters.njk
  src/_includes/layouts/project.njk
  src/images/og-default.svg
Due: none

feat: Replace EverydayAI Community with Second Renaissance project + 4 blog posts
  .eleventy.js
  src/blog/agi-timelines-who-is-right.md
  src/blog/ai-job-messy-middle.md
  src/blog/ai-productivity-reality-vs-hype.md
  src/blog/second-renaissance-not-like-printing-press.md
  src/js/chapters-nav.js
  src/projects/everydayai-community.md
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

feat: Strategic blog post scheduling for Second Renaissance series
  src/blog/agi-timelines-who-is-right.md
  src/blog/ai-job-messy-middle.md
  src/blog/ai-productivity-reality-vs-hype.md
  src/blog/second-renaissance-not-like-printing-press.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

feat: Add three blog posts analyzing Microsoft Research study on AI and critical thinking
  src/blog/confidence-trap-trusting-ai-makes-you-think-less.md
  src/blog/dont-let-ai-make-you-lazy-staying-sharp.md
  src/blog/from-doer-to-steward-how-ai-changes-thinking.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

feat: Comprehensive SEO optimization across 8 key blog posts
  src/blog/agi-timelines-who-is-right.md
  src/blog/ai-job-messy-middle.md
  src/blog/ai-productivity-reality-vs-hype.md
  src/blog/confidence-trap-trusting-ai-makes-you-think-less.md
  src/blog/dont-let-ai-make-you-lazy-staying-sharp.md
  src/blog/from-doer-to-steward-how-ai-changes-thinking.md
  src/blog/second-renaissance-not-like-printing-press.md
  src/blog/welcome.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

feat: Complete SEO optimization with meta tag injection and audit reports
  SEO_AUDIT_REPORT.md
  SEO_STATUS_SUMMARY.md
  src/_includes/layouts/base.njk
  src/blog/confidence-trap-trusting-ai-makes-you-think-less.md
  src/blog/dont-let-ai-make-you-lazy-staying-sharp.md
  src/blog/from-doer-to-steward-how-ai-changes-thinking.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

SEO: Implement Google best practices - breadcrumb schema, enhanced meta descriptions, BlogPosting keywords
  GOOGLE_SEO_AUDIT_REPORT.md
  LIGHTHOUSE_AUDIT_REPORT.md
  SEO_AUDIT_REPORT.md
  SEO_IMPLEMENTATION_SUMMARY.md
  SEO_STATUS_SUMMARY.md
  src/_includes/layouts/post.njk
  src/blog/agi-timelines-who-is-right.md
  src/blog/ai-job-messy-middle.md
  src/blog/ai-productivity-reality-vs-hype.md
  src/blog/confidence-trap-trusting-ai-makes-you-think-less.md
  src/blog/dont-let-ai-make-you-lazy-staying-sharp.md
  src/blog/from-doer-to-steward-how-ai-changes-thinking.md
  src/blog/second-renaissance-not-like-printing-press.md
  src/blog/welcome.md
  src/index.njk
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add SEO completion summary and image alt text guidelines
  IMAGE_ALT_TEXT_GUIDE.md
  SEO_QUICK_WIN_COMPLETE.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

feat: Update social media profiles - LinkedIn, Twitter, YouTube
  src/_data/site.json
  src/_includes/layouts/base.njk
  src/_layouts/base.njk
  src/about.njk
Due: prettier --write

feat: Update to custom domain www.eaikw.com + comprehensive launch audit
  CNAME
  LAUNCH_AUDIT.md
  src/_data/site.json
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

added requirements
  _data/students.js
  package-lock.json
  package.json
  production/.gitignore
  production/README.md
  production/eslint.config.mjs
  production/package-lock.json
  production/package.json
  production/sanity.cli.js
  production/sanity.config.js
  production/schemaTypes/author.js
  production/schemaTypes/blockContent.js
  production/schemaTypes/category.js
  production/schemaTypes/index.js
  production/schemaTypes/post.js
  production/static/.gitkeep
  sanity.js
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

added references for site
  .gitignore
  .hintrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/css/print.css
  src/css/tailwind.css
Due: prettier --write, stylelint --fix

Create cms-evaluation.md
  docs/cms-evaluation.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add Job Club project brief and required documentation templates
  docs/DEPLOYMENT.md
  docs/JOB_CLUB_PROJECT_BRIEF.md
  docs/ai-usage.md
  docs/analytics-evaluation.md
  docs/discovery/RESEARCH.md
  docs/qa-report.md
  docs/ux/DESIGN_SYSTEM.md
  src/_data/site.json
  src/jobclub/about.njk
  src/jobclub/events.njk
  src/jobclub/onboarding.njk
  src/jobclub/resources.njk
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

Phase 2: Implement Sanity CMS, Notion DB, and Discord integrations
  .env.local.template
  .github/workflows/phase2.yml
  api/onboarding.js
  docs/integrations/PHASE_2_INTEGRATIONS.md
  docs/integrations/PHASE_2_QUICKSTART.md
  functions/api.js
  netlify.toml
  production/schemaTypes/event.js
  production/schemaTypes/index.js
  production/schemaTypes/jobclubSpeaker.js
  production/schemaTypes/memberProfile.js
  production/schemaTypes/resource.js
  src/api/routes.js
  src/jobclub/onboarding.njk
  src/lib/discordIntegration.js
  src/lib/notionIntegration.js
  tests/integration/phase2.test.js
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add Phase 2 implementation summary
  docs/integrations/PHASE_2_SUMMARY.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add comprehensive project status dashboard
  PROJECT_STATUS.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add Phase 2 implementation checklist
  IMPLEMENTATION_CHECKLIST.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add Phase 2 completion report
  PHASE_2_COMPLETION.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

docs: Add comprehensive documentation index
  DOCUMENTATION_INDEX.md
Due: prettier --write, markdownlint --fix --config .markdownlint.yaml

refactor: Align all components with core mission
  DOCUMENTATION_INDEX.md
  IMPLEMENTATION_CHECKLIST.md
  MISSION_ALIGNMENT.md
  PHASE_2_COMPLETION.md
  PROJECT_STATUS.md
  docs/integrations/PHASE_2_INTEGRATIONS.md
  docs/integrations/PHASE_2_QUICKSTART.md
  docs/integrations/PHASE_2_SUMMARY.md
  production/schemaTypes/event.js
  production/schemaTypes/memberProfile.js
  production/schemaTypes/resource.js
  src/jobclub/onboarding.njk
Due: eslint --fix, prettier --write, markdownlint --fix --config .markdownlint.yaml
